* {
  box-sizing: border-box;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23dddddd' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23e6e6e6' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23eeeeee' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f7f7f7' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FFFFFF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f8f8f8' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f0f0f0' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23e9e9e9' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e1e1e1' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23DADADA' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* ////// SCROLL BAR /////// */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.search {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1%;
  width: 50%;
}

.input_search {
  position: relative;
  width: 20em;
  height: 2.5em;
  border-radius: 1vw;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  /* margin-left: 5%;
  margin-right: 0.5%; */
  border: 1px solid rgb(189, 189, 189);
  box-shadow: 0 1em 1em #cdcdcd;
  margin-left: 12%;
  margin-right: 1%;
  cursor: default;
}

.input_search:focus {
  outline: none;
  cursor: text;
}

.button_search {
  /* position: absolute; */
  /* right: 40em; */
  width: 6em;
  height: 3em;
  border-radius: 1vw;
  font-size: 1em;
  text-align: center;
  color: white;
  font-family: 'Mulish', sans-serif;
  border: 1px solid rgb(189, 189, 189);
  background: #1266f1;
  cursor: pointer;
  box-shadow: 0 1em 1em #cdcdcd;
}

.button_search:hover {
  background: #0b59d8;
  transition: all 1s;
}

.main_container {
  height: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app_main {
  width: 60em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 8em;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 1s;
  z-index: -1;
}

.app_main:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

/* .app_description {
  text-align: center;
  font-size: 1.3em;
  line-height: 2.5em;
}

.title_main {
  height: 0.5em;
}

.img_main {
  width: 20%;
  margin-bottom: 2%;
}*/

.app_main h1 {
  font-size: 3.8em;
  line-height: 1.35;
  margin-bottom: 2%;
}

.app_main h4 {
  font-size: 1.5em;
  font-weight: 500;
}

.app_main span {
  font-size: 1em;
  font-weight: 600;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background: linear-gradient(to top left, #39b385, #9be15d);
}

.link_div {
  width: 6.5em;
  padding: 0.7em;
  margin: auto;
  margin-top: 2%;
  background: #1266f1;
  border-radius: 2em;
  box-shadow: 0 1em 1em #cdcdcd;
}
.link_info {
  color: white;
  text-decoration: none;
  font-size: 1em;
  /* padding: 10%; */
}

.link_div:hover {
  background: #0b59d8;
}

.article_container {
  /* display: none; */
  width: 70%;
  margin: auto;
  /* border: 2px solid black; */
  border-radius: 5em;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-top: 3%;
  transform: translateX(200px);
  background-color: white;
  opacity: 0;
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 1s;
}

.title_summary {
  text-align: center;
}
.summary_description {
  padding: 1%;

  text-align: center;
}
.summary_description p {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  /* color: #4a4a4a; */
  line-height: 1.7em;
  font-size: 1.1em;
  padding-left: 15%;
  padding-right: 15%;
}
.city_score {
  text-align: center;
}
.title_categories {
  padding: 4%;
}

.title_categories h2 {
  font-size: 1.4em;
}

.container_categories {
  /* display: none; */

  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  padding-bottom: 5%;
  margin-top: 3%;
  border-radius: 5em;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  transform: translateX(-200px);
  opacity: 0;
  background-color: white;
  transition: all 1s;
}

.section_categories {
  width: 70%;
  height: 1.9em;
  margin-bottom: 0.9%;
}
.categories {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 2em;
}

.progressBar {
  position: absolute;
  left: 40%;

  /* right: 8vw; */
  width: 45%;
  background-color: #d5d5d5;
  height: 0.6em;
  border-radius: 20px;
  transition: 2s;
}

.value {
  width: 80%;
  height: 0.6em;
  border-radius: 2em;
  background-color: black;
  align-items: initial;
  opacity: 1;
}

span {
  /* position: absolute; */
  top: 3%;
  /* right: 60%; */
  font-size: 0.5em;
  font-weight: 500;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.footer_container {
  margin-top: 0;
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 9em;
  /* border-top: 2px solid black; */
  /* background-color: rgba(0, 0, 0, 0.9); */
  background: #37383d;
  border-radius: 0.5em 0.5em 0 0;
}
.link {
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-items: flex-end;
}

.copyright_div {
  margin-bottom: 1%;
}

.footer_container .footer {
  text-align: center;
  color: white;
  font-size: 15px;
}
.footerContainer .footer .icon {
  padding: 30px;
  width: 85px;
}
.footer_container .footer .email {
  color: white;
}
.footer_container .footer .copyright {
  padding-bottom: 10px;
}
.footer_container .footer .github {
  color: white;
}

.footer_container .footer .email:hover,
.footer_container .footer .github:hover {
  color: #d5d5d5;
}
